
.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;

    @media all and (min-width: 480px) and (max-width: 768px) {
        flex-direction: column;
        .signup-img {
            width: 100vw;
            height: auto;
        }
     }
    @media all and (max-width: 480px) {
        flex-direction: column;
        .signup-img {
            width: 100vw;
            height: auto;
        }
     }
    
    &-img {
        width: 50vw;
        height: auto;
    }

    &-form{
        width: 100vw;
        height: auto;
        background-color: grey;

    }

}
        .form{
            width: 50vw;
            height: auto;
            margin: 20px;
            padding: 10px;
        }